<md-toolbar>
  <span>Plan auswählen</span>
</md-toolbar>

<md-grid-list cols="7" rowHeight="500">
  <md-grid-tile *ngFor="let modus of modi">
    <md-card>
      <app-plan-card [modus]="modus" [personen]="wacht.guards" [dauer]="wacht.getDurationInHours()"></app-plan-card>
      <md-card-actions> <!-- TODO: Button darf während des Ladens nicht angezeigt werden -->
        <button md-button type="button" (click)="konfigurieren(modus)">Konfigurieren</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>

</md-grid-list>
