<md-card>
  <md-toolbar>
    <span>Wachtdaten erfassen</span>
  </md-toolbar>
  <form novalidate [formGroup]="sentinelDataForm" (ngSubmit)="onSentinelDataFormSubmit()">
    <div>
      <md-input-container><input md-input type="text" placeholder="Kdt" formControlName="commander">
        <md-hint class="error" *ngIf="sentinelDataForm.get('commander').touched && sentinelDataForm.get('commander').hasError('required')">Dieses Feld wird benötigt</md-hint>
        <md-hint class="error" *ngIf="sentinelDataForm.get('commander').touched && sentinelDataForm.get('commander').hasError('minlength')">Mindestlänge von zwei Zeichen</md-hint>
      </md-input-container>
      <md-input-container><input md-input type="text" placeholder="Stv" formControlName="deputy">
        <md-hint class="error" *ngIf="sentinelDataForm.get('deputy').touched && sentinelDataForm.get('deputy').hasError('required')">Dieses Feld wird benötigt</md-hint>
        <md-hint class="error" *ngIf="sentinelDataForm.get('deputy').touched && sentinelDataForm.get('deputy').hasError('minlength')">Mindestlänge von zwei Zeichen</md-hint>
      </md-input-container>
    </div>
    <div> <!-- Oh mein Gott! TODO: Anzeige ausgewählte Zeit -->
      <md2-datepicker type="datetime" formControlName="datefrom"></md2-datepicker>
      <md2-datepicker type="datetime" formControlName="dateto"></md2-datepicker><!-- TODO: Code mocken, damit er einen Hint akzeptiert -->
    </div>
    <div formArrayName="groups">
      <div *ngFor="let group of sentinelDataForm.get('groups').controls; let i = index">
        <div [formGroupName]="i">
          <md-input-container><input md-input type="text" placeholder="Name" formControlName="name1">
            <md-hint *ngIf="sentinelDataForm.get('groups').controls[i].get('name1').touched && sentinelDataForm.get('groups').controls[i].get('name1').hasError('minlength')">Mindestlänge von zwei Zeichen</md-hint>
          </md-input-container>
          <md-input-container><input md-input type="text" placeholder="Name" formControlName="name2">
            <md-hint *ngIf="sentinelDataForm.get('groups').controls[i].get('name2').touched && sentinelDataForm.get('groups').controls[i].get('name2').hasError('minlength')">Mindestlänge von zwei Zeichen</md-hint>
          </md-input-container>
        </div>
      </div>
      <div>
        <button md-button type="button"(click)="addGroupOfTwo()">
          <md-icon>add</md-icon>
        </button>
      </div>
    </div>
    <button md-raised-button type="submit" [disabled]="sentinelDataForm.invalid || !validNumberOfGurads() || !validSentinelDuration()">Submit Form</button>
    <button md-raised-button type="button" (click)="fillAndNext()">Fill and Next</button>

  </form>
</md-card>
